 /*
    .container {
        font-size: 12px
        font;

    }

    .btn-group{
        font-size: 10px;

    }

    /*<!--Start Footer-->*/

    .footer {
        padding: 20px;
        text-align: center;
        background-color: #343434;
        color: white;
        margin-top: 0px;
        position: fixed;
        height: 60px;
        bottom: 0;
        width: 100%;

    }




/*<!--End Footer-->*/